:root {
  --primary-text-color: #757575;
  --title-tex-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--title-tex-color);
}
/* none */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* none */

/* header */
.header {
  background-color: #ffffff;
}

/* nav */
.logo-nav {
  color: #000000;
}

.link-nav {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-tex-color);
}

.list-item-link:hover,
.list-item-link:focus {
  color: var(--accent-color);
}

/* contacts header */
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.studio {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: #ffffff;
}

.main-btn:hover,
.main-btn:focus {
 background-color: #000000;
 cursor: pointer;
 
}



/* about */

.hidden {
  display: none;
}

.about-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-tex-color);
}

.about-list-paragraph {
  font-weight: 400;
  font-size: 1.714;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* section img */
.team {
  background-color #F5F4FA;
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  color: var(--title-tex-color);
}

/* team */

.subtitle-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--title-tex-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* footer */
.footer {
  background-color: #2f303a;
}

.address-footer {
  font-style: normal;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.text-logo {
  color: var(--accent-color);
}

.link-footer {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.link-footer:hover,
.link-footer:focus {
background-color: var(--accent-color);
}

.white-link {
  color: #ffffff;
}
/* portfolio */
/* section portfolio botton */
.botton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  display: flex;
  letter-spacing: 0.02em;
}

.botton:hover,
.botton:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}

.portfolio {
  color: var(--accent-color);
}

/* portfolio img */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-tex-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
